.product {
    margin-top: 40px;
    margin: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
h2 {
    font-size: 20px;
}
.item{
    border: 1px solid black;
    text-align: center;
}